.component-app{
    background-color: #0097cc;
    display: flex;
    width: 25%;
    position: relative;
    left: 75%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.component-app-calc-button > button{
    background-color: #0097cc;
    border: 0;
    font-size: 2rem;
    color: #ecf7fb;
    cursor: pointer;
}

.component-app-history-button > button{
    background-color: #0097cc;
    border: 0;
    font-size: 2rem;
    color: #ecf7fb;
    cursor: pointer;
}